
div {
    margin-top:50px;
    font-size: 50px;
    transform-origin: 175px 55px;
    transform: rotate(0deg);
    transition: transform 1.5s ease-out;
  }
  div:hover {
    transform-origin: 175px 55px;
    transform: rotate(360deg);
    }
  canvas {
    position: absolute;
    }

.box {
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 50%;
    margin-left: 42%;
    margin-top: 17%;
}

.box2 {
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 50%;
    margin-left: 42%;
}

.pencil {
    width: 550px;
    height: 175px;
    background-color: red;
    border-radius: 30%;
    margin-left: 20%;
}

