img {
    height: 450px;
    width: 450px;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.techa {
 font-size: 64px;
 font-weight: bold;
 font-family: 'Brush Script MT';
 
}

.techaPIC {
    font-size: 22px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

